#scene-container {
    width: 100%;
    height: 90%;
    margin: 0;
    display: block;
    overflow: hidden;
}

.button {
    position: absolute;
    top: calc(50% - 5vh);
    width: fit-content;
    font-size: 16px;
    z-index: 10;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
}

#scene-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("./src/mask.png");
    background-size: contain;
    background-repeat: no-repeat;
    mix-blend-mode: screen;
    opacity: 0.4;

}

#scene-container {
    position: relative;
    backdrop-filter: blur(5px);
    /* 模糊背景 */
    z-index: -1;
}

#head-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

#bottom-frame {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

#tape-selector{
    position: absolute;
    width: 60px;
    height: 60px;
    left: calc(50% - 30px);
    top: 10vh;
    transform: rotate(90deg);
}